In [2]:
from scipy.stats import mannwhitneyu
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\34650\Desktop\Avistamiento_Ovni\UFO_final_csv.csv")

In [4]:
df.head()

,Date_time,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,duration_seconds,Encounter_Duration,Description,Day_of_week,Date,Time
0,1949-10-10 20:30:00,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...,Monday,1949-10-10,20:30:00
1,1949-10-10 21:00:00,1949,10,21,Autumn,USA,United States,Texas,Lackland Air Force Base,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,Monday,1949-10-10,21:00:00
2,1955-10-10 17:00:00,1955,10,17,Autumn,GBR,United Kingdom,England,Blacon,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,Monday,1955-10-10,17:00:00
3,1956-10-10 21:00:00,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,Wednesday,1956-10-10,21:00:00
4,1960-10-10 20:00:00,1960,10,20,Autumn,USA,United States,Hawaii,Kane'ohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,Monday,1960-10-10,20:00:00

In [17]:
grupo_A = df[df['Season']=='Summer']['duration_seconds']

In [19]:
grupo_A

46227    180.0
46228    120.0
46229    600.0
46230    300.0
46231    300.0
         ...
72483    120.0
72484    600.0
72485    900.0
72486    120.0
72487    240.0
Name: duration_seconds, Length: 26261, dtype: float64

In [20]:
grupo_B= df[df['Season']=='Winter']['duration_seconds']

In [21]:
grupo_B

7398       4.0
7399     120.0
7400     120.0
7401     120.0
7402     300.0
         ...
29993    120.0
29994      7.0
29995    120.0
29996    120.0
29997    240.0
Name: duration_seconds, Length: 15866, dtype: float64

In [22]:
MW_test = mannwhitneyu(grupo_B, grupo_A,alternative='two-sided') 
print(f"El p-valor obtenido en el test de Mannwhiteneyu es de {MW_test.pvalue}")

El p-valor obtenido en el test de Mannwhiteneyu es de 1.4953290647915566e-05

In [23]:
if MW_test.pvalue < 0.05 or MW_test.pvalue < 0.05: #No sigue al menos una de ellas una normal
    _, p_valor = stats.mannwhitneyu(grupo_A, grupo_B)
    print(f'Tiene un p-valor(por Mann Whitney) de {p_valor}')
else:
    _,p_valor = stats.ttest_ind(grupo_A,grupo_B, equal_var=False)
    print(f'Tiene un p-valor (por prueba t de dos nuestras) de {p_valor}')

Tiene un p-valor(por Mann Whitney) de 1.4953290647915566e-05

In [24]:
alpha = 0.05

if p_valor < alpha:
    print("Rechazamos la hipótesis nula: Existe una diferencia significativa entre los grupos A y B.")
else:
    print("No podemos rechazar la hipótesis nula: No hay diferencia significativa entre los grupos A y B.")

Rechazamos la hipótesis nula: Existe una diferencia significativa entre los grupos A y B.