Regresion (Duracion del avistamiento)

In [16]:
from pycaret.regression import *

In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r'C:\Users\34650\Desktop\proyecto 3\Temario\Ovnis\UFO_final_csv.csv')

df.head()

,Date_time,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,duration_seconds,Encounter_Duration,Description,Day_of_week,Date,Time
0,1949-10-10 20:30:00,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...,Monday,1949-10-10,20:30:00
1,1949-10-10 21:00:00,1949,10,21,Autumn,USA,United States,Texas,Lackland Air Force Base,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,Monday,1949-10-10,21:00:00
2,1955-10-10 17:00:00,1955,10,17,Autumn,GBR,United Kingdom,England,Blacon,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,Monday,1955-10-10,17:00:00
3,1956-10-10 21:00:00,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,Wednesday,1956-10-10,21:00:00
4,1960-10-10 20:00:00,1960,10,20,Autumn,USA,United States,Hawaii,Kane'ohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,Monday,1960-10-10,20:00:00

In [19]:
df_pred = df.copy()
df_pred_new = df_pred[['Month', 'Hour', 'Country','UFO_shape','duration_seconds']]

In [20]:
df_pred_new.dtypes

Month                 int64
Hour                  int64
Country              object
UFO_shape            object
duration_seconds    float64
dtype: object

In [21]:
df_pred_new.head()

   Month  Hour         Country UFO_shape  duration_seconds
0     10    20   United States  Cylinder            2700.0
1     10    21   United States     Light            7200.0
2     10    17  United Kingdom    Circle              20.0
3     10    21   United States    Circle              20.0
4     10    20   United States     Light             900.0

In [22]:
setup = setup(df_pred_new, target = 'duration_seconds')

In [23]:
best = compare_models()

In [24]:
Huber_Regressor= create_model("huber")

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [25]:
tuned_huber = tune_model(Huber_Regressor)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [26]:
evaluate_model(tuned_huber)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [27]:
final_huber_best = finalize_model(Huber_Regressor)

In [29]:
save_model(Huber_Regressor, "modelo_tiempo")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Month', 'Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Country', 'UFO_shape'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Country', 'UFO_shape'],
                                     transformer=TargetEncoder(cols=['Country',
                                                                     'UFO_shape'],
                                                               handle_missing='return_nan'))),
                 ('trained_model', HuberRegressor())]),
 'modelo_tiempo.pkl')